---
layout: default
---

<div class="home">
  <header class="post-header">
    <h1 class="post-title" id="cwd"></h1>
  </header>
  <ul class="pure-u-1" id="filesUl">Loading...</ul>
</div>
<script>
  async function listFiles() {
    const files = await getContent(location.pathname);
    const filesUl = document.getElementById('filesUl');
    const titleH1 = document.getElementById('cwd');
    titleH1.textContent = location.pathname;
    filesUl.textContent = '';
    files.forEach(file => {
      if(file.name !== 'index.html'){
        const fLi = document.createElement('li');
        const fA = document.createElement('a');
        fA.href = `/${file.path}`;
        fA.textContent = file.name;
        fLi.appendChild(fA);
        filesUl.appendChild(fLi);
      }
    })
  }

  window.onload = listFiles;
</script>
